<template>
  <div>
    <form @submit.prevent="validateGutschein()">
      <label>
        <p>Gutscheincode</p>
        <input type="text" v-model="gutscheinInput">
      </label>
      <button :disabled="validateButtonDisabled">Einlösen!</button>
    </form>
    <p v-if="isLoading">Loading...</p>
    <p v-if="discount !== null && !isLoading">Discount: {{discount}}</p>
    <p v-if="error !== null && !isLoading">Error: {{error}}</p>
  </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import ApiService from '@/services/api';
    import Component from 'vue-class-component';

    @Component({})
    export default class InputViewClassStyle extends Vue {

        private apiService: ApiService = new ApiService();
        private gutscheinInput: string = '';
        private discount: number | null = null;
        private isLoading: boolean = false;
        private error: string | null = null;

        private get validateButtonDisabled(): boolean {
            return this.isLoading || this.gutscheinInput.length === 0;
        }

        private async validateGutschein(): Promise<void> {
            this.isLoading = true;
            try {
                const response = await this.apiService.validateGutschein(this.gutscheinInput);
                if (response) {
                    this.discount = response.discount;
                }
                this.error = null;
            } catch (e) {
                this.error = e.toString();
            } finally {
                this.isLoading = false;
            }
        }
    }

</script>


<style scoped>

</style>
