<template>
  <div>
    <form @submit.prevent="validateGutschein()">
      <label>
        <p>Gutscheincode</p>
        <input type="text" v-model="gutscheinInput">
      </label>
      <button :disabled="validateButtonDisabled">Einlösen!</button>
    </form>
    <p v-if="isLoading">Loading...</p>
    <p v-if="discount !== null && !isLoading">Discount: {{discount}}</p>
    <p v-if="error !== null && !isLoading">Error: {{error}}</p>
  </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import ApiService from '@/services/api';

    export default Vue.extend({
        name: 'InputView',
        data(): {
            apiService: ApiService,
            gutscheinInput: string,
            discount: null | number,
            isLoading: boolean,
            error: string | null,
        } {
            return {
                apiService: new ApiService(),
                gutscheinInput: '',
                discount: null,
                isLoading: false,
                error: null,
            };
        },
        computed: {
            validateButtonDisabled(): boolean {
                return this.isLoading || this.gutscheinInput.length === 0;
            },
        },
        methods: {
            async validateGutschein(): Promise<void> {
                this.isLoading = true;
                try {
                    const response = await this.apiService.validateGutschein(this.gutscheinInput);
                    if (response) {
                        this.discount = response.discount;
                    }
                    this.error = null;
                } catch (e) {
                    this.error = e.toString();
                } finally {
                    this.isLoading = false;
                }
            },
        },
    });
</script>


<style scoped>

</style>
