<template>
  <div id="app">
    <InputView/>
    <InputViewClassStyle/>
  </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import InputView from './components/InputView.vue';
    import InputViewClassStyle from './components/InputViewClassStyle.vue';

    export default Vue.extend({
        name: 'app',
        components: {
            InputView,
            InputViewClassStyle,
        },
    });
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
